.navbar-nav .nav-item .nav-link{
color: white !important;
}
body{
    margin: 0%;
    padding: 0%;
}
.navbar{
    width: 100%;
}
.sidebar{
    height: 85.7vh !important;
}
 ul li a{
   text-decoration: none !important;
   list-style-type: none !important;
   color: white !important;
}
.pages{
    padding-top: 30px;
}
@media (max-width: 480px) {
    .sidebar{
        height: 100% !important;
    }
  }